<div class="content-wrapper">
   <div class="w-container">
      <div class="blog-body-wrapper">
         <div class="post-title-section">
            <h1><%= @article.title %></h1>
            <div class="post-info-wrapper">
               <div class="post-info"><%= @article.created_at.to_date.to_s %></div>
               <div class="post-info">|</div>
               <% @article.tags.each do |tag| %>
               <%= link_to tag.name, articles_path(tag: tag.name), :class => "post-info when-link" %>
               <% end %>
            </div>
         </div>
         <div class="body-copy w-richtext">
            <%= @article.body.html_safe %>
         </div>
      </div>
      <div class="button-wrapper">
      <%= link_to "<< 所有贴子", articles_path, :class => "button w-button" %>
      </div>
   </div>
</div>
